Options +FollowSymlinks
RewriteEngine on

RewriteRule ^([a-z]{2,3})\/$ index.php?iso_lang=$1 [L]
RewriteRule ^([a-z]{2,3})\/([0-9]+)\-([_a-zA-Z0-9-]*)$ index.php?id_entity=$2&iso_lang=$1 [L]
RewriteRule ^([a-z]{2,3})\/([_a-zA-Z0-9-]*)\/([0-9]+)\-([_a-zA-Z0-9-]*)$ index.php?id_entity=$3&iso_lang=$1 [L]
RewriteRule ^([a-z]{2,3})\/([_a-zA-Z0-9-]*)$ index.php?entity_link_rewrite=$2&iso_lang=$1 [L]

RewriteRule ^([a-z]{2,3})\/contact\/([_a-zA-Z0-9-]*)$ index.php?page=contact&action=$2&iso_lang=$1 [L]

