a { transition-duration: 0.5s; }
.center {
	text-align:center	
}
.maxW {
	max-width:100%;	
}
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    text-align: center;  
	text-shadow:none;  
	padding:15px 20px;
}

.navbar-inverse .navbar-nav>.active>a {
	background-color: #f1c40f;
	color:#fff;
}

.navbar .nav li:first-child a {
    
}

.navbar .nav li:last-child a {
    
}

.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #3276b1;	
}
.navbar-inverse .logo:hover,
.navbar-inverse .logo:focus {
	background:#fff !important;	
	cursor:default
}

body {
	font-family:Arial, Helvetica, sans-serif;
	color:#2c3e50;	
}
/*---*/

header.navbar-inverse {
	background:#fff;
	box-shadow:none;
	border:0;
	border-bottom: 1px solid #eee;
}



h1, h2, h3, h4, h5, .big_mention {
	font-family: 'Lato', sans-serif;	
	-webkit-font-smoothing:antialiased;
	transform:translate3D(0,0,0);
}
h1 {
	font-weight:300;
	font-size:3em;	
}
h2, .big_mention {
	font-weight:400;
	font-size:2.6em;
	margin-top:25px;
	margin-bottom:25px
}
h3 {
	font-weight:300;
	font-size:2.2em;	
}
.big_mention {
	font-weight:300;
	line-height: 1em;	
	font-size:2.2em;
}
.verystrong { 
	font-weight:700;
}
.btn-primary {
	background:#f1c40f;
	border-radius:5px;
	border:0;
	border-bottom:4px solid #f39c12;
	text-shadow:none;
	color:#2c3e50;
}

#technologies,
#principe,
#frontend,
#demo,
footer {
	padding:50px 0;	
}

#presentation {
	background:url('../img/blured_background.jpg') fixed;
	background-size:cover;
	color:#fff;
	padding-bottom:120px;
}
	#presentation h1 {
		color:#fff;
		margin:120px 0 80px 0;
	}
		#presentation h1 span {
			display:block;	
		}
		
		#presentation .details .title {
			font-family: 'Lato', sans-serif;
			font-weight:300;
			font-size:24px;			
		}
		#presentation .details p {
			margin:15px 0;
		}
		

#technologies {
	background:#fff url('../img/bg_principe.jpg') bottom center no-repeat;	
}
#technologies_details {
	padding:20px 0;	
}
	#technologies_details li {
		margin-bottom:5px;	
	}

#technologies #logo_list {
	margin-top:25px;	
}
	#technologies #logo_list li {
		margin:0 10px;	
	}

#87cms_panel img {
	max-width:100%;	
}

#principe {
	color:#fff;	
	background:#1abc9c url('../img/bg_frontend.jpg') bottom center no-repeat;
}

#fieldstype_content {
	margin-top:100px;
}
	#fieldstype li {
		padding:15px; 
		background-color:#f1c40f;
		margin:10px;
		color:#2c3e50;
	}

#frontend {
	background:#fff url('../img/bg_frontend2.jpg') bottom center no-repeat;	
}
	#frontend_details {
	 margin-top:50px;	
	}
	
#btn_frontend {
	margin-top:25px;	
}

#demo {
	background:#2c3e50;	
	color:#FFF;	
	padding-bottom: 110px;
	padding-top: 50px;
}

footer {
	background:url('../img/blured_background.jpg') fixed;
	background-size:cover;
	color:#fff;
	padding-bottom:80px;
}
	footer h4 {
		padding:10px;
		background:rgba(255,255,255,0.1);	
	}


@media (min-width: 768px) {
	
	body {
		padding-top:112px;	
	}
	
	header {
		height:112px;	
	}	
	
}

@media (max-width: 768px) {
	
	.row > div {
		margin-bottom:50px;	
	}
	.row > div:last-child {
		margin-bottom:0px;	
	}
	
	#technologies .list-unstyled {
		text-align:center;
		margin-top:-40px;	
	}
	
	#presentation h1 {
		margin:20px 0 50px 0;	
	}
	.logo-visible-xs {
		margin:50px 0 20px 0;
	}
	
}