<div id="content">
	<h1>{l s=$pageName}</h1>
	
    {if $smarty.get.added}
    	<div class="return_ok">
        	{l s='Saved !'}
        </div>        
    {/if}

    <a href="/admin/index.php?p=translation&action=displayPreviousTranslations" class="button floatRight">{l s='See previous translations'}</a>
	<form action="#" method="post">
	    <table id="translation" class="std">

	    	<tbody>
			    {foreach $translations as $filename => $data}
			   		<tr >
			   			<td colspan="{count($langs)+1}" class="page">Page {$filename}</td>
			   		</tr>
			   		<tr>
                        <td></td>
                        {foreach $langs as $lang}
                            <td class="center" style="background:#CFE4EB">{$lang}</td>
                        {/foreach}
                    </tr>
                    {foreach $data as $sentence}
						<tr>
							<td class="tab" id="{$translation[ $filename ][$i]['translation'][ $lang_code ]}">{$sentence.original|escape:'htmlall'}</td>
							{foreach $langs as $lang}
								<td>
<textarea name="{$lang}-{$sentence.md5}" id="{$lang}-{$sentence.md5}">{if $sentence.translation.$lang}{$sentence.translation.$lang|escape:'htmlall'}{/if}</textarea></td>
					    	{/foreach}
						</tr>
					{/foreach}
                    <tr>
                    	<td colspan="{count($langs)+1}" class="center">
                        	<input type="submit" value="{l s='Save'}" class="button submit" style="float:right">                              
                        </td>
                    </tr>
					{if count($duplicate.$filename)>0}

						<tr>
							<td class="tab" colspan="3"><span class="italic">{l s='Duplicate(s)'} : 
							{foreach $duplicate.$filename as $mention}
								<a href="#">{$mention}</a>, 
							{/foreach}
							</span></td>
						</tr>
					{/if}
			    {/foreach}
		    </tbody>
		</table>
		<input type="hidden" name="action" value="updateTranslation">
        <input type="submit" value="{l s='Save'}" class="button submit">    
	</form>

<script type="text/javascript">
	$(document).ready( function(){
		$('#translation tr').each( function(){
			if( $(this).height() > 49 ){
				var h = $(this).height();
				$(this).find('textarea').height( h + 15 ); 
			}
		});
	});
</script>

</div>
